@using  IdentityServer4.Models;
@model ErrorMessage;
    <h4>ClientId: @Model.ClientId</h4>
    <h4>DisplayMode: @Model.DisplayMode</h4>
    <h4>Error: @Model.Error</h4>
    <h4>ErrorDescription: @Model.ErrorDescription</h4>
    <h4>RequestId: @Model.RequestId</h4>
    <h4>ResponseMode: @Model.ResponseMode</h4>
    <h4>UiLocales: @Model.UiLocales</h4>